stages:
  - test
  - build
  - publish

unit-test:
  stage: test
  image: node:8
  before_script:
    - npm install
  script:
    - npm test
  after_script:
    - npm install codecov
    - ./node_modules/.bin/codecov

build-typedoc-docfx:
  stage: test
  image: node:9
  artifacts:
    name: "$CI_JOB_NAME-docfx"
    paths:
      - docs/typedoc.json
      - docs/api/
    expire_in: 5 days
  before_script:
    - npm install
  script:
    - $(npm bin)/typedoc src/index.ts --json docs/typedoc.json
    - $(npm bin)/type2docfx docs/typedoc.json docs/api

docfx-build:
  stage: build
  image: tsgkadot/docker-docfx:latest
  dependencies:
    - build-typedoc-docfx
  artifacts:
    name: "$CI_JOB_NAME-docs"
    paths:
      - docs/out/
    expire_in: 2 weeks
  script:
    - cd docs/
    - docfx build
