stages:
  - test

unit-test:
  stage: test
  image: node:8
  before_script:
    - npm install
  script:
    - npm test
  after_script:
    - npm install codecov
    - ./node_modules/.bin/codecov

package:
  stage: test
  image: node:8
  before_script:
    - npm install
  script:
    - ./node_modules/.bin/tsc
    - npm pack
  artifacts:
    when: on_success
    paths:
      - bike-workout-dsl*.tgz
    expire_in: 2 weeks
