- const suffix = " Syntax"
a.mdl-navigation__link(href="/grammar/Activity/") Activity#{suffix}
a.mdl-navigation__link(href="/grammar/Duration/") Duration#{suffix}
a.mdl-navigation__link(href="/grammar/Entry/") Entry#{suffix}
a.mdl-navigation__link(href="/grammar/Metadata/") Metadata#{suffix}
a.mdl-navigation__link(href="/grammar/Plan/") Plan#{suffix}
a.mdl-navigation__link(href="/grammar/Strength/") Strength#{suffix}
a.mdl-navigation__link(href="/grammar/utils/") Utilities#{suffix}
a.mdl-navigation__link(href="/grammar/Workout/") Workout#{suffix}
