#splash {
    display: block;
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 5em;

    h1 {
        margin-top: 0;
    }

    .lead {
        margin-top: 1em;
        margin-bottom: 2em;
    }

}

#pageContents {
    margin-left: 5em;
    margin-right: 5em;
}
